.margin-left {
    margin-left: 585px !important;
}

.margin-left-login {
    margin-left: 249px;
}

.margin-left-registration {
    margin-left: 174px;
}

.listStyle {
    list-style-type: none;
}

.margin-left-news-feed {
    margin-left: 50px;
}